@using WebStore.Domain.Entities.Identity
@model Employee

<!DOCTYPE html>
<div class="container">
    <h3>Карточка сотрудника</h3>

    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>@Model.FirstName</dd>
        <dt>Фамилия</dt>
        <dd>@Model.LastName</dd>
        <dt>Отчество</dt>
        <dd>@Model.Patronymic</dd>
        <dt>Возраст</dt>
        <dd>@Model.Age</dd>
    </dl>

    <hr />
    <div class="row">
        <div class="col-xs-1">
            <p><a asp-action="Index" class="btn btn-default">Назад</a></p>
        </div>
        @if (User.IsInRole(Role.Administrator))
        {
            <div class="col-xs-1">
                <p>
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>Удалить
                    </a>
                </p>
            </div>
            <div class="col-xs-1">
                <p><a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Редактировать</a></p>
            </div>
        }
        </div>
</div>